.details-container{
    margin-top: 100px;
    width: 1600px;
}

.top-content {
    position: relative;
    z-index: 1;
}

.top-content{
    font-size: 1.1em;
    box-shadow: 11px 13px 8px 0px #000000a8;
}

.game-image-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.detail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.top-content h1 {
    background-color: #000719bf;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin-top: -92px;
    position: relative;
    z-index: 2;
    text-align: left;
}

.game-bottom-container {
    margin-top: -10px;
    display: flex;
    background: linear-gradient(to bottom, #301236 0%, #180f2a 70%, #000b28 100%);
    box-shadow: 11px 13px 8px 0px #000000a8;
}

.text-details-container {
    width: 50%;
    padding-left: 110px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.text-details-container h2 {
    color: #00efff;
    font-size: 1.8em;
    margin-top: 0px;
}

.detail-description
 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-specs-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 110px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.game-specs-container h2 {
    margin-top: 0px;
    margin-bottom: 8px;
    color: #00efff;
}

.game-bottom-container span {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.last-details {
    display: flex;
    justify-content: center;
}

.released-container,
.rating-container {
    margin-left:15px;
    margin-right:15px;
}

.rating-container span {
    color: #ffd700;
}

.back-button-container {
    display: flex;
    justify-content: center;
}

h3.detail-back-button {
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: inherit;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #cd005a;
    border-radius: 10px;
    background-color: #cd005a;
    user-select: none;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    cursor: pointer;
    box-shadow: 11px 13px 8px 0px #000000a8;
    width: max-content;
}

h3.detail-back-button:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}