.card {
    /* background-color: #160c18f0; */
    /* background-color: #080b19f2; */
    /* background-color: #240a2af0; */
    /* background: linear-gradient(to bottom, #160c18f0 0%, #180f2af2 70%, #002a2a 100%);*/
    /* background: linear-gradient(to bottom, #160c18f0 0%, #180f2af2 70%, #000909f2 100%); */
    /* background: linear-gradient(to bottom, #000909f2 0%, #180f2af2 70%, #160c18f0 100%); */
    background: linear-gradient(to bottom, #000909 0%, #180f2a 70%, #160c18 100%);
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-top-right-radius: 35px;
    box-shadow: 11px 13px 8px 0px #000000a8;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 1.5s;
}
  
.card:hover {
    transform: scale(1.018);
    transition-duration: .2s;
}

.game-img-container {
    width: 330px;
}

.game-name{
    text-transform: uppercase;
    color: #00efff;
}

.characterSpecs {
    margin-top: 0px;
    font-size: 21px;
    font-weight: 100;
    margin-bottom: 12px;
}

.img-card{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 35px;
}

#close {
    background-color: none;
    margin-left: 280px;
}

.bottom-buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

.card-details {
    font-weight: 500;
    /* color: #00aaa0;*/
    /*border: 2px solid #00aaa0; */
    color: #dc2072;
    border: 2px solid #dc2072;
    text-decoration: inherit;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 15px;
    user-select: none;
}

.card-details:hover {
    /* background-color: #00968d;*/
    /*color: #0f0811f0; */
    background-color: #c0105d;
    color: #fffffff0;
}

.fav-btn {
    font-size: 1.5em;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    background-color: #0f0811;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-right: 20px;
    user-select: none;
}

.fav-btn:hover {
    background-color: #141414be;
    cursor: pointer;
}