.card {
    background: linear-gradient(to bottom, #000909 0%, #180f2a 70%, #160c18 100%);
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-top-right-radius: 35px;
    box-shadow: 11px 13px 8px 0px #000000a8;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 1.5s;
}
  
.card:hover {
    transform: scale(1.018);
    transition-duration: .2s;
}

.game-name{
    text-transform: uppercase;
    color: #00efff;
}

.game-img-container {
    width: 330px;
}

.img-card{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 35px;
}

.bottom-buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.game-rating {
    color: gold;
    position: relative;
    margin-top: -34px;
    margin-bottom: -13px;
    margin-left: 0px;
    padding-left: 245px;
    text-shadow: 2px 4px 3px #000000c2;
    background-color: #0000009c;
    max-width: 300px;
}

.card-details {
    font-weight: 500;
    color: #dc2072;
    border: 2px solid #dc2072;
    text-decoration: inherit;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 15px;
    user-select: none;
}

.card-details:hover {
    background-color: #c0105d;
    color: #fffffff0;
}