.landing-page {
    position:absolute;
    left: 0;
    margin-left: 15px;
    animation: fadeIn 2s;
}

.site-logo, .enter-button {
    opacity: 0;
}

.site-logo {
    width: 130%;
    animation: fadeIn 1.5s forwards;
    animation-delay: 1s;
}

.enter-button {
    margin-top:15px;
    margin-left: 115px;
    animation: fadeIn 1.5s forwards;
    animation-delay: 2s;
}

#enter-button {
    background-color: #3c0947d4;
    font-size: 1.2em;
}

@keyframes fadeInLanding {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}