.filter-bar {
    /* background: linear-gradient(to right, #160c18 0%, #180f2a 70%, #000909 100%); */
    /* background: linear-gradient(to right, #301236 0%, #180f2a 70%, #000b28 100%); */
    /* background: linear-gradient(to right, #000b28  0%, #180f2a 70%, #301236 100%); */
    /* position: absolute; */
    /*z-index: 999;*/
    /* top:100px; */
    left:0;
    width: 100%;
    display: flex;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}

.select-buttons-container {
    display: flex;
    align-items: center;
}


.select-buttons {
    font-size: 1em;
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
    /* border: 1px solid white; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #22113ff5;
    user-select: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    cursor: pointer;
    box-shadow: 11px 13px 8px 0px #000000a8;
}

.games-origin {
    margin-right: 20px;
    margin-left: 20px;
}

.rating-sort {
    margin-right: 20px;
    margin-left: 20px;
}

.name-sort {
    margin-right: 20px;
    margin-left: 20px;
}

.genres-list {
    margin-right: 20px;
    margin-left: 20px;
}

.reset-button {
    margin-right: 20px;
    margin-left: 20px;
}