/* .home {
    background-color: black;
} */

.cards-container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 2.5s;
}

.all-games {
    animation: fadeIn 2.5s;
}

.all-games h1 {
    font-size: 5em;
    text-shadow: 5px 5px 11px rgb(41 186 222);
    margin-bottom: 0px;
    margin-top: 30px;
}

.search-results h1 {
    font-size: 5em;
    text-shadow: 8px 8px 15px rgb(86 36 166), 0 0 5px rgb(0 0 0 / 80%), 0 0 12px rgb(33 37 71 / 80%);
    margin-bottom: 0px;
}


.homepage.component-rendered h1 {
    font-size: 3em;
}

.homepage p {
    font-size: 2em;
    animation: fadeIn 2.5s;
}

.homepage.component-rendered p {
    display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

  .neon-sign {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #ff6bff, #6effff);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0 0 10px rgba(255, 0, 255, 1);
    animation: flicker 1.5s infinite alternate;
    box-shadow: 0 0 10px 4px rgba(255, 0, 255, 0.5);
    padding: 20px;
    display: inline-block;
  }
  
  @keyframes flicker {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }