.homepage {
    margin-top: 60px;
}

.cards-container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 2.5s;
}

.all-games {
    animation: fadeIn 2.5s;
}

.all-games h1 {
    font-size: 5em;
    text-shadow: 5px 5px 11px rgb(41 186 222);
}

.search-results h1 {
    font-size: 5em;
    text-shadow: 8px 8px 15px rgb(86 36 166), 0 0 5px rgb(0 0 0 / 80%), 0 0 12px rgb(33 37 71 / 80%);
}


.homepage.component-rendered h1 {
    font-size: 3em;
}

.homepage p {
    font-size: 2em;
    animation: fadeIn 2.5s;
}

.homepage.component-rendered p {
    display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  