.nav-bar {
    background-color: rgba(20, 20, 20, 0.861);
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}

img#app-logo{
    margin-left: 100px;
}


@keyframes animatedImage {
    0%, 100% {
      transform: scale(1);
      /* opacity: 1; */
    }
    50% {
      transform: scale(1.1);
      /* opacity: 1; */
    }
  }
  
  .animatedPaw.animated{
    animation: animatedImage 1s ease-in-out 5;
  }

.nav-links {
    font-size: 1.2em;
    color: white;
    display: flex;
    gap: 20px;
    margin-right: auto;
    margin-left:70px;
}

.nav-links a {
    color: white;
    margin-top: 18px;
}

.nav-links a:hover {
    color: #35ada1;
}