.nav-bar {
    /* background: linear-gradient(to right, #160c18 0%, #180f2a 70%, #000909 100%); */
    background: linear-gradient(to right, #301236 0%, #180f2a 70%, #000b28 100%);
    /* background: linear-gradient(to right, #000b28  0%, #180f2a 70%, #301236 100%); */
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}

img#app-logo{
    margin-left: -30px;
    width: 25%;
}
  
.nav-links {
    font-size: 1.2em;
    color: white;
    display: flex;
    gap: 20px;
    margin-right: auto;
    margin-left:70px;
}

.nav-links a {
    color: white;
    margin-top: 18px;
}

.nav-links a:hover {
    color: #00efff;
}